---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>自己紹介だよ</title>
	</head>
	<body>
		<h1>鈴木葵</h1>
		<div>理学部理学科1回生</div>
		<p>趣味：最近は囲碁、麻雀</p>
		<p>特技：耳を動かせること</p>
		<p>興味：化学、特に金属錯体や量子化学、有機合成　そして物理学</p>
		<hr></body>
	<body>
		<a href="https://www.chem-station.com/"> Chem-Station </a>
	</body>
</html>

<style>
  h1 {
    color: #4f46e5; 
    font-size: 2.5rem;
  }
  .text {
    color: #4b5563; 
    font-weight: bold;
  }
</style>